
.portfolio { 
    background-color: #e5dfff1a;
}

.lead-portfolio {
    margin-bottom:1.1rem;
}
.photo img {
    display: block;
    border-radius: 10px;
    border: 1px solid #A894FF;
}
.photo-container {
    position: relative;
    /* width: 50%;  */
}
.photo-lead {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(168, 148, 255, 0.65);
    overflow: hidden;
    width: 0;
    height: 25%;
    transition: .5s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.photo-container:hover .photo-lead {
    width: 100%; }

    .photo-lead i {
        float: right;
    }
    .photo-text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }

.pregnant-title {
    text-align: center;
    padding-top:3rem;
    font-size: 1.8rem;
}

.row-pregnant {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    justify-content: center;
    
 }
 .column-pregnant img {
    margin-top: 8px;
    vertical-align:bottom;
    width: 100%; }

 .column-pregnant{
        flex: 33%;
        max-width: 31%;
        padding: 0 4px;
    }

.row-family {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    justify-content: center;
}
.column-family img {
    margin-top: 8px;
    vertical-align:bottom;
    width: 100%; }

 .column-family{
        flex: 32%;
        max-width: 31%;
        padding: 0 4px;}
.family-title {
    text-align: center;
    padding-top:3rem;
    font-size: 1.8rem;
 }

 .couple-title {
    text-align: center;
    padding-top:3rem;
    font-size: 1.8rem;
}
.row-couple {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    justify-content: center;
}
.column-couple{
    flex: 32%;
    max-width: 31%;
    padding: 0 4px;}
.column-couple img {
    margin-top: 8px;
    vertical-align:bottom;
    width: 100%; }

 .column-bussines{
        flex: 50%;
        max-width: 49%;
        padding: 0 4px;}

        .bussines-title {
            text-align: center;
            padding-top:3rem;
            font-size: 1.8rem;
        }
        .row-bussines {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 20px;
            justify-content: center;
        }
        .column-bussines img {
            margin-top: 8px;
            vertical-align:bottom;
            width: 100%; }
        
 .column-wedding{
      flex: 32%;
      max-width: 31%;
                padding: 0 4px;}
                .wedding-title {
                    text-align: center;
                    padding-top:3rem;
                    font-size: 1.8rem;
                }
                .row-wedding {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 50px 20px;
                    justify-content: center;
                }
                .column-wedding img {
                    margin-top: 8px;
                    vertical-align:bottom;
                    width: 100%; }
                
 .column-wedding{
      flex: 32%;
      max-width: 31%;
                padding: 0 4px;}
                .wedding-title {
                    text-align: center;
                    padding-top:3rem;
                    font-size: 1.8rem;
                }
                .row-wedding {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 50px 20px;
                    justify-content: center;
                }
                .column-wedding img {
                    margin-top: 8px;
                    vertical-align:bottom;
                    width: 100%; }   
                    
                    
             .column-beauty{
                        flex: 32%;
                        max-width: 31%;
                                  padding: 0 4px;}
                                  .beauty-title {
                                      text-align: center;
                                      padding-top:3rem;
                                      font-size: 1.8rem;
                                  }
                                  .row-beauty{
                                      display: flex;
                                      flex-wrap: wrap;
                                      padding: 50px 20px;
                                      justify-content: center;
                                  }
                                  .column-beauty img {
                                      margin-top: 8px;
                                      vertical-align:bottom;
                                      width: 100%; } 
@media (max-height:420px) {
    .portfolio-content-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-content-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}